@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

.MuiGrid-grid-xs-true {
    padding: 5px;
}

.MuiCard-root {
    border-style: solid;
    /*border-radius: 10px;*/
    /*height: 180px;*/
}

.upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}